*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid #06aa01;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #E0F6FF);
}

.pipe{

    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation linear infinite;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
    
}

.jump {
    animation: jump 500ms ease-out;

}

.death {
    animation: death-animation 1s ease-out forwards;
}


.game-over-popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;

}

.game-over-box {
    width: 300px;
    height: 200px;
    background-image: url('../images/block.png');
    background-size: cover;
    border: 4px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px #000;
    font-family: Arial, sans-serif;
    text-align: center;
}

.game-over-box button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border: 3px solid #000;
    background-color: #ffcc00;
    font-weight: bold;
    border-radius: 10px;
}

.game-over-box button:hover {
    background-color: #ffdd33;
}

.clound {
    position: absolute;
    width: 550px;
    animation: clound-animation 20s infinite linear;
}



@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}


@keyframes jump {

    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }

}

@keyframes death-animation {
    0% {
        bottom: 0;
        opacity: 1;
    }

    40% {
        bottom: 120px; 
        opacity: 1;
    }

    100% {
        bottom: -200px; 
        opacity: 0;
    }
}


@keyframes clound-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}